/* CUSTOM CSS 2024 */

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bebas Neue';
}

a {
    text-decoration: none;
}

/* .nav-item a {
    color: black;
} */

#dd-hover {
    background-color: #cbac6a;;
}

h1-h6 {
    font-family: 'Bebas Neue';
}

p {
    font-family: 'Arial';
}

#logo {
    width: 115px;
    height: 45px;
}

.fa-solid {
    color: white;
}

.fa-brands {
    color: white;
}

.btn {
    border-radius: 0;
}

.radius {
    border-style: none;
    border-radius: 0;
}

#card01 {
    border: none;
    background:url('../ressources/images/activites/bg_activite_1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

#card02 {
    border: none;
    background:url('../ressources/images/activites/bg_activite_2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    }

#card03 {
    border: none;
    background:url('../ressources/images/activites/bg_activite_3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

#card04 {
    border: none;
    background:url('../ressources/images/activites/bg_activite_4.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

#card01 img {
    margin-top: 50px;
    margin-bottom: 5px;
    width: 40px;
    height: 40px;
}

#card02 img {
    margin-top: 50px;
    margin-bottom: 5px;
    width: 40px;
    height: 40px;
}

#card03 img {
    margin-top: 50px;
    margin-bottom: 5px;
    width: 40px;
    height: 40px;
}

#card04 img {
    margin-top: 50px;
    margin-bottom: 5px;
    width: 40px;
    height: 40px;
}

.hr-white {
    width: 50%;
    border: 2px solid white;
    border-radius: 5px;
}

.hr-hover {
    width: 50%;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 5px;
}

.hr-defaut {
    width: 20%;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 5px;
}

.footer-img {
    margin: 20px;
    width: 120px;
    height: 36px;
}

.carousel-indicators button {
    width: 10px !important;
    height: 10px !important;
    border-radius: 100% !important;
}

.insta-img {
    margin: 0;
    padding: 0;
    width: 200px;
    height: 120px;
}

.gold {
    color: rgb(255, 162, 0);
}

.navbar-toggler {
    border: 1px white solid;   
}

#langs {
    background-color: #cbac6a;
    width: 35px;
    height: 50px;
    clip-path: polygon(50% 100%, 100% 65%, 100% 0, 0 0, 0 65%);
}

/* .navbar-toggler-icon {
    border: 1px white solid;
} */

/*** NAVBAR RESPONSIVE & OTHERS RESPONSIVE ELEMENTS ***/

/* SMALL SCREENS */
@media (max-width: 576px) {
    nav {
        top: 0;
        background: #212529 !important;
        /* border: 3px solid red; */
    }
    #sm_media {
        display: none;
    }
    #section_text {
        /* border: 3px solid red; */
        margin-top: 15%;
    }
    .nav-item {
        border-radius: 20px;
        text-align: center;
    }
    .nav-item:hover {
        border-radius: 20px;
        text-align: center;
        background-color: #cbac6a;
        transition: all 0.3s ease;
    }
    .dropdown-menu li a:hover {
        background: #cbac6a;
    }
    .nav-item {
        border-radius: 20px;
        text-align: center;
    }
    #phone {
        text-align: center;
    }
    #socials {
        text-align: center;
    }
}
/* MEDIUM SCREENS */
@media (min-width: 576px) and (max-width: 992px)  {
    nav {
        background-color: #21252900 !important;
    }
    .navbar-collapse {
        z-index: 2;
        background-color: #212529 !important;
        border-radius: 20px;
        border: 2px solid rgba(255, 255, 255, 0.104);
        padding: 5%;
        text-align: center;
        /* border: 3px solid red; */
    }
    .nav-item {
        border-radius: 20px;
        text-align: center;
    }
    .nav-item:hover {
        border-radius: 20px;
        text-align: center;
        background-color: #cbac6a;
        transition: all 0.3s ease;
    }
    .dropdown-menu li a:hover {
        background: #cbac6a;
    }
    .carousel-inner h2 {
        margin-top: 3% !important;
        font-size: 1.3rem !important;
        text-align: center;
    }
    .carousel-inner button {
        margin-top: 9% !important;
    }
    .dropdown {
        /* border: 3px solid red; */
        background-color: rgba(34, 34, 34, 0) !important;
    }
    .dropdown-menu {
        padding: 2%;
        background-color: #212529 !important;
    }
    #phone {
        text-align: center;
    }
}
/* LARGE SCREENS */
@media (min-width: 992px) and (max-width: 2160px) {
    nav {
        top: -20px;
        background-color: rgba(34, 34, 34, 0) !important;
    }
    .nav-item:hover {
        /* padding-top: 5%; */
        padding-top: 3%;
        background-color: #cbac6a;
        transition: all 0s;
    }
    .dropdown {
        /* border: 3px solid red; */
        background-color: rgba(34, 34, 34, 0) !important;
    }
    .dropdown-menu {
        padding: 2%;
        margin-left: 15%;
        background-color: #212529 !important;
    }
    .dropdown-menu li a:hover {
        background: #cbac6a;
    }
}