/* CUSTOM CSS 2024 */

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bebas Neue';
}

a {
    text-decoration: none;
}

h1-h6 {
    font-family: 'Bebas Neue';
}

p {
    font-family: 'Arial';
}

#logo {
    width: 115px;
    height: 45px;
}

.fa-solid {
    color: white;
}

.fa-brands {
    color: white;
}

li:hover {
    background-color: #cbac6a;
}

.btn {
    border-radius: 0;
}

.radius {
    border-style: none;
    border-radius: 0;
}

#card01 {
    border: none;
    background:url('../ressources/images/activites/bg_activite_1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

#card02 {
    border: none;
    background:url('../ressources/images/activites/bg_activite_2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    }

#card03 {
    border: none;
    background:url('../ressources/images/activites/bg_activite_3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

#card04 {
    border: none;
    background:url('../ressources/images/activites/bg_activite_4.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

#card01 img {
    margin-top: 50px;
    margin-bottom: 5px;
    width: 40px;
    height: 40px;
}

#card02 img {
    margin-top: 50px;
    margin-bottom: 5px;
    width: 40px;
    height: 40px;
}

#card03 img {
    margin-top: 50px;
    margin-bottom: 5px;
    width: 40px;
    height: 40px;
}

#card04 img {
    margin-top: 50px;
    margin-bottom: 5px;
    width: 40px;
    height: 40px;
}

.hr-white {
    width: 50%;
    border: 2px solid white;
    border-radius: 5px;
}

.hr-hover {
    width: 50%;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 5px;
}

.hr-defaut {
    width: 20%;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 5px;
}

.footer-img {
    margin: 20px;
    width: 120px;
    height: 36px;
}

.carousel-indicators button {
    width: 3px !important;
    border-radius: 100% !important;
}

.insta-img {
    margin: 0;
    padding: 0;
    width: 200px;
    height: 120px;
}

.gold {
    color: rgb(255, 162, 0);
}